WcfMobilnaTelefonija/TelefonijaKLijent/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dodajMinute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="racun" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="minuti" type="xs:int" />
        <xs:element minOccurs="0" name="tarifa" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajMinuteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajPoruke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="racun" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="poruke" type="xs:int" />
        <xs:element minOccurs="0" name="tarifa" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajPorukeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajInternet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="racun" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mb" type="xs:int" />
        <xs:element minOccurs="0" name="tarifa" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajInternetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vratiStanje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="racun" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vratiStanjeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vratiStanjeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajRacun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brRacuna" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="min" type="xs:int" />
        <xs:element minOccurs="0" name="poruke" type="xs:int" />
        <xs:element minOccurs="0" name="mb" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajRacunResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>