WCFjoks/WindowsFormsApp2/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cisterna" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFjoks" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICisterna_dodaj_InputMessage">
    <wsdl:part name="parameters" element="tns:dodaj" />
  </wsdl:message>
  <wsdl:message name="ICisterna_dodaj_OutputMessage">
    <wsdl:part name="parameters" element="tns:dodajResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_ispusti_InputMessage">
    <wsdl:part name="parameters" element="tns:ispusti" />
  </wsdl:message>
  <wsdl:message name="ICisterna_ispusti_OutputMessage">
    <wsdl:part name="parameters" element="tns:ispustiResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_stanje_InputMessage">
    <wsdl:part name="parameters" element="tns:stanje" />
  </wsdl:message>
  <wsdl:message name="ICisterna_stanje_OutputMessage">
    <wsdl:part name="parameters" element="tns:stanjeResponse" />
  </wsdl:message>
  <wsdl:message name="ICisterna_svePromene_InputMessage">
    <wsdl:part name="parameters" element="tns:svePromene" />
  </wsdl:message>
  <wsdl:message name="ICisterna_svePromene_OutputMessage">
    <wsdl:part name="parameters" element="tns:svePromeneResponse" />
  </wsdl:message>
  <wsdl:portType name="ICisterna">
    <wsdl:operation name="dodaj">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/dodaj" message="tns:ICisterna_dodaj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/dodajResponse" message="tns:ICisterna_dodaj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ispusti">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/ispusti" message="tns:ICisterna_ispusti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/ispustiResponse" message="tns:ICisterna_ispusti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="stanje">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/stanje" message="tns:ICisterna_stanje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/stanjeResponse" message="tns:ICisterna_stanje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="svePromene">
      <wsdl:input wsaw:Action="http://tempuri.org/ICisterna/svePromene" message="tns:ICisterna_svePromene_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICisterna/svePromeneResponse" message="tns:ICisterna_svePromene_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICisterna" type="tns:ICisterna">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dodaj">
      <soap:operation soapAction="http://tempuri.org/ICisterna/dodaj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ispusti">
      <soap:operation soapAction="http://tempuri.org/ICisterna/ispusti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stanje">
      <soap:operation soapAction="http://tempuri.org/ICisterna/stanje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="svePromene">
      <soap:operation soapAction="http://tempuri.org/ICisterna/svePromene" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cisterna">
    <wsdl:port name="BasicHttpBinding_ICisterna" binding="tns:BasicHttpBinding_ICisterna">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFjoks/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>