WCFjoks/Klijent/Connected Services/ServiceReference1/WCFjoks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFjoks" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFjoks" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Materijal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ro" type="xs:float" />
      <xs:element minOccurs="0" name="V" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Materijal" nillable="true" type="tns:Materijal" />
</xs:schema>